@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
*{
  text-align:center;
  font-family: 'Lobster Two', cursive;
  background-color: #DAEAF1;
}
h1{
    text-shadow: 2px 2px 5px #3AB0FF;
}
.player1,.player2{
  display: inline-block;
  margin:15px;
}

/* CSS */
.button-58 {
  align-items: center;
  background-color: #3AB0FF;
  border: 2px solid #3AB0FF;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



.button-58:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}



